*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrap{
    width: 1000px;
    margin: 0 auto;
    /* position: static; 포지션 별말 없으면 이거임*/
    /* position: fixed; 그 자리에 고정돼서 움직이지 않음*/
    /* position: relative; * t,b,l,r 에 따라 자기자신이 이동, 박스끼리 겹침주의/
    /* position: absolute; */
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    color: black;
    font-size: 14px;
    line-height: 1.5;
}

.header{
    display: flex;
    align-items: center;
    height: 100px;
    gap: 30px;
}

.gnb{
    display: flex;
}

.logo{
    margin-right: auto;
}

.gnb li a{
    /* background-color: orangered; */
    display: block;
    padding: 10px 26px;
}

.btn_login{
    /* border: none; */
    padding: 10px 20px;
    background-color: pink;
    color: magenta;
    border: 1px solid orangered;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn_login:hover{
    background-color: transparent;
    color: blue;
}

.cards{
    display: flex;
    gap: 30px;
}

.cards li{
    position: relative;
}

.cards li:first-child {
    flex: 1;
}

.cards li:last-child {
    flex: 1;
}

.cards .photo img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.cards li .photo{
    height: 300px;
    background-color: red;
}

.cards .user{
    position: absolute;
    bottom: 14px;
    left: 14px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cards .user .profile{
    width: 40px;
    height: 40px;
}

.cards .user .profile img{
    width: 100%;
    display: block;
    border-radius: 100%;
}

.cards .user .info .job{
    font-size: 10px;
    color: rgba(255,255,255,0.6);
}